name = "edge-api-layer"
main = "src/index.ts"
compatibility_date = "2025-11-28"

# -----------------------
# DEFAULT ENV (local/dev)
# -----------------------
[vars]
BACKEND_PRODUCT_URL = "https://api.staging.leem.com/leem/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.leem.com/leem/catalog/products"
ALLOWED_ORIGIN = "https://staging.leem.com"

# -----------------------
# ENV #1 — LEEM STAGING
# -----------------------
[env.leem]
name = "edge-api-layer-leem-staging"

[env.leem.vars]
BACKEND_PRODUCT_URL = "https://api.staging.leem.com/leem/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.leem.com/leem/catalog/products"
ALLOWED_ORIGIN = "https://staging.leem.com"


# -----------------------
# ENV #2 — AURA STAGING
# -----------------------
[env.aura]
name = "edge-api-layer-aura-staging"

[env.aura.vars]
BACKEND_PRODUCT_URL = "https://api.staging.auraliving.com/aura/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.auraliving.com/aura/catalog/products"
ALLOWED_ORIGIN = "http://localhost:3000"