name = "edge-api-layer"
main = "src/index.ts"
compatibility_date = "2025-11-28"

# -----------------------
# DEFAULT ENV (local/dev)
# -----------------------
[vars]
BACKEND_PRODUCT_URL = "https://api.staging.leem.com/leem/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.leem.com/leem/catalog/products"
RANKING_SERVICE_URL = "https://szftmq7obb.execute-api.us-east-1.amazonaws.com/Prod/rank"
BRAND = "leem"
ALLOWED_ORIGINS = "https://staging.leem.com,http://localhost:3000"
# -----------------------
# ENV #1 — LEEM STAGING
# -----------------------
[env.leem]
name = "edge-api-layer-leem-staging"

[env.leem.vars]
BACKEND_PRODUCT_URL = "https://api.staging.leem.com/leem/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.leem.com/leem/catalog/products"
RANKING_SERVICE_URL = "https://szftmq7obb.execute-api.us-east-1.amazonaws.com/Prod/rank"
BRAND = "leem"
ALLOWED_ORIGINS = "https://staging.leem.com,http://localhost:3000"

# -----------------------
# ENV #2 — AURA STAGING
# -----------------------
[env.aura]
name = "edge-api-layer-aura-staging"

[env.aura.vars]
BACKEND_PRODUCT_URL = "https://api.staging.auraliving.com/aura/catalog/product"
BACKEND_PRODUCT_LIST_URL = "https://api.staging.auraliving.com/aura/catalog/products"
RANKING_SERVICE_URL = "https://szftmq7obb.execute-api.us-east-1.amazonaws.com/Prod/rank"
BRAND = "aura"
ALLOWED_ORIGINS = "https://staging.auraliving.com,http://localhost:3000"
